@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.box {
  box-sizing: border-box;
  padding: 80px 0 80px 370px;
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1170px;
  margin: 30px auto;
}

.box .img {
  background-image: url('../img/manhattan.jpg');
  background-size: cover;
  height: 100%;
  width: 450px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.box .textbox {
  width: 100%;
  background-color: #f0f2f1;
  box-sizing: border-box;
  padding: 10px 30px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  border: 15px solid #fff;
}

.box .textbox h1 {
  color: #3a3c3b;
}

.box .textbox p {
  color: #5a5c5b;
}

@media (max-width: 1000px) {
  .box {
    padding: 90px 0 90px 240px;
  }

  .box .img {
    width: 320px;
  }
}

@media (max-width: 768px) {
  .box {
    padding: 90px 0 90px 120px;
  }

  .box .img {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .box {
    padding: 90px 0 90px 70px;
  }

  .box .img {
    width: 150px;
  }
}
